@import "style";

body {
   background-color: lightblue;
}

h1{
   color: lightcoral;
}

h2{
   color: midnightblue;
}

h6{
   color: lightcoral;
}

.link-1 a:hover{
   background-color: blue;
   color: white;
 }
 
 .link-2 a:hover{
   background-color: red;
   color: white;
 }

 ul li {
    color: blue;
 }