@import "style";

body {
  background-color: lightcoral;
}

h1{
  color: red;
}

h2{
  color: red;
}

h6{
  color: red;
}

p{
  color: red;
}
.link-1 a:hover{
  background-color: blue;
  color: white;
}

.link-2 a:hover{
  background-color: red;
  color: white;
}

ul li {
  color: red;
}